.container{
    text-align: center;
    margin-top: 10%;
}
.container button{
    padding: 15px 35px;
    margin-right: 10px;
    border: 2px solid black;
    background-color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.35s;
}
.container button:hover{
    background-color: black;
    color: white;
}
#counter{
    font-size: 80px;
}